* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins',sans-serif;
    color: #333;
    background: color #f9f9f9;;
    line-height: 1.6;
    background: url(pemandangan.jpg)center/cover fixed no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #004aad;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffd700;
}

.hero {
    background: linear-gradient (rgba(0,74,173,0.7),rgba(0, 74,173,0.7)) ;
    background-image: url(pemandangan.jpg);
    background-size: cover;
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 2rem;
}

.btn {
    background-color: #ffd700;
    color: #004aad;
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition:bacground 0.3s;
}

.btn:hover {
    background-color: #ffcd00;
}

section {
    padding: 4rem 2rem;
    text-align: center;
}

h2 {
    color: #004aad;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px,1ffr));
    gap: 2rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    transition:transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

.kontak input,
.kontak textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.kontak button {
    border: none;
    cursor: pointer;
}

footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
